# Ignore node_modules everywhere
node_modules/
client/node_modules/
server/node_modules/
client/.env
server/.env

# Logs
*.log

# OS-specific junk
.DS_Store
Thumbs.db

# Env files
.env
.env.local
docker-compose.yml
